PataD365/Workflows/AdjustnewDataversenon-adminusersettingstoPATAdefau-3FAE208F-0846-EC11-8C62-000D3A44D509.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cgi_sharedcommondataserviceforapps_f6fe3"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added_-_New_systemuser_for_environment":{"metadata":{"operationMetadataId":"91fd90a3-c2ad-4062-a873-d8801a8c5937"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"systemuser","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"accessmode eq 0 or accessmode eq 2","subscriptionRequest/runas":3},"authentication":"@parameters('$authentication')"},"description":"accessmode 0 (Read-write) , accessmode 2 (Read)"}},"actions":{"Initialize_variable_-_internalEmailAddress":{"runAfter":{"Update_a_row_-_Set_timezone_and_language":["Succeeded"]},"metadata":{"operationMetadataId":"75ca5c24-d9ed-4c87-9bcd-7d182a86a96f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"primaryEmail","type":"string","value":"@triggerOutputs()?['body/internalemailaddress']"}]}},"Condition_-_PrimaryEmail_is_not_null":{"actions":{"Set_variable_-_emailArray":{"runAfter":{},"metadata":{"operationMetadataId":"510c5b3d-9f90-4ef5-92b7-0de7b11cf297"},"type":"SetVariable","inputs":{"name":"emailArray","value":"@split(variables('primaryEmail'), '@')"}},"Compose_-_Email_array":{"runAfter":{"Set_variable_-_emailArray":["Succeeded"]},"metadata":{"operationMetadataId":"93cd6fec-aa8c-40fc-8402-0e9a2dfb663e"},"type":"Compose","inputs":"@variables('emailArray')"},"Switch_-_Email_domain_part":{"runAfter":{"Compose_-_Email_array":["Succeeded"]},"cases":{"Case_-_vshp.fi":{"case":"vshp.fi","actions":{"Update_a_row_-_vshp.fi":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Update_a_row_-_Set_timezone_and_language')?['body/systemuserid']","item/businessunitid@odata.bind":"/businessunits/c44bc56f-f836-ec11-8c64-000d3ab87154"},"authentication":"@parameters('$authentication')"},"description":"Pata \"bfa9c6e6-d583-eb11-b1ac-000d3a4abe63\" OVPH \"c44bc56f-f836-ec11-8c64-000d3ab87154\" Kaiku24 \"c380035f-981f-ec11-b6e6-6045bd8a1de3\" Eksote \"b1315972-981f-ec11-b6e6-6045bd8a1de3\" Kymsote \"11a47778-981f-ec11-b6e6-6045bd8a1de3\""}}},"Case_-_vaasa.fi":{"case":"vaasa.fi","actions":{"Update_a_row_-_vaasa.fi":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Update_a_row_-_Set_timezone_and_language')?['body/systemuserid']","item/businessunitid@odata.bind":"/businessunits/c44bc56f-f836-ec11-8c64-000d3ab87154"},"authentication":"@parameters('$authentication')"}}}},"Case_-_jakobstad.fi":{"case":"jakobstad.fi","actions":{"Update_a_row_-_jakobstad.fi":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Update_a_row_-_Set_timezone_and_language')?['body/systemuserid']","item/businessunitid@odata.bind":"/businessunits/c44bc56f-f836-ec11-8c64-000d3ab87154"},"authentication":"@parameters('$authentication')"}}}},"Case_-_kymsote.fi":{"case":"kymsote.fi","actions":{"Update_a_row_-_kymsote.fi":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Update_a_row_-_Set_timezone_and_language')?['body/systemuserid']","item/businessunitid@odata.bind":"/businessunits/11a47778-981f-ec11-b6e6-6045bd8a1de3"},"authentication":"@parameters('$authentication')"}}}},"Case_-_eksote.fi":{"case":"eksote.fi","actions":{"Update_a_row_-_eksote.fi":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Update_a_row_-_Set_timezone_and_language')?['body/systemuserid']","item/businessunitid@odata.bind":"/businessunits/b1315972-981f-ec11-b6e6-6045bd8a1de3"},"authentication":"@parameters('$authentication')"}}}},"Case_-_kaiku24.fi":{"case":"kaiku24.fi","actions":{"Update_a_row_-_kaiku24.fi":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Update_a_row_-_Set_timezone_and_language')?['body/systemuserid']","item/businessunitid@odata.bind":"/businessunits/c380035f-981f-ec11-b6e6-6045bd8a1de3"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@variables('emailArray')[1]","metadata":{"operationMetadataId":"e6560980-6847-4491-b905-145bbaec2e96"},"type":"Switch","description":"Pata \"bfa9c6e6-d583-eb11-b1ac-000d3a4abe63\" OVPH \"c44bc56f-f836-ec11-8c64-000d3ab87154\" Kaiku24 \"c380035f-981f-ec11-b6e6-6045bd8a1de3\" Eksote \"b1315972-981f-ec11-b6e6-6045bd8a1de3\" Kymsote \"11a47778-981f-ec11-b6e6-6045bd8a1de3\""}},"runAfter":{"Initialize_variable_-_emailArray":["Succeeded"]},"expression":{"contains":["@variables('primaryEmail')","@@@"]},"metadata":{"operationMetadataId":"e42ef818-2bb4-4f9a-a940-0bfb0f0275d4"},"type":"If"},"Initialize_variable_-_emailArray":{"runAfter":{"Initialize_variable_-_internalEmailAddress":["Succeeded"]},"metadata":{"operationMetadataId":"2749d178-6eef-473a-9efa-478689b61ce4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"emailArray","type":"array"}]}},"Delay_-_5_sec_to_make_sure_user_settings_can_be_upgraded":{"runAfter":{},"metadata":{"operationMetadataId":"bacc8695-471f-4b23-a937-8b26b8d0dac8"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Update_a_row_-_Set_timezone_and_language":{"runAfter":{"Delay_-_5_sec_to_make_sure_user_settings_can_be_upgraded":["Succeeded"]},"metadata":{"operationMetadataId":"4b4971d3-d316-4a88-8564-d89d20ec005d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"usersettingscollection","recordId":"@triggerOutputs()?['body/systemuserid']","item/helplanguageid":1035,"item/timezonecode":125,"item/uilanguageid":1035},"authentication":"@parameters('$authentication')"}}}}},"schemaVersion":"1.0.0.0"}