PataD365/Workflows/ServiceTypeNameChangestoServiceCopyFields-5ED43D15-C437-EC11-8C64-000D3A2C9423.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cgi_sharedcommondataserviceforapps_f6fe3"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cgi_servicetype","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cgi_namefi,cgi_namesv","subscriptionRequest/runas":1},"authentication":"@parameters('$authentication')"}}},"actions":{"List_rows_from_Service_that_have_lookup_to_changed_service_type":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cgi_services","$filter":"_cgi_servicetypeid_value eq @{triggerOutputs()?['body/cgi_servicetypeid']} and statecode eq 0"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Service_that_has_lookup_to_Service_Type":{"foreach":"@outputs('List_rows_from_Service_that_have_lookup_to_changed_service_type')?['body/value']","actions":{"Update_services_service_type_copy_values":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cgi_services","recordId":"@items('Apply_to_each_Service_that_has_lookup_to_Service_Type')?['cgi_serviceid']","item/cgi_copy_servicetypenamefi":"@triggerOutputs()?['body/cgi_namefi']","item/cgi_copy_servicetypenamesv":"@items('Apply_to_each_Service_that_has_lookup_to_Service_Type')?['cgi_namesv']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_from_Service_that_have_lookup_to_changed_service_type":["Succeeded"]},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}