PataD365/Workflows/ServicePlacePostOfficeChangestoServiceCopyFields-E49A8A74-DF37-EC11-8C64-000D3A2C9423.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cgi_sharedcommondataserviceforapps_f6fe3"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Service_Place_post_office_fi_or_sv_modified":{"metadata":{"operationMetadataId":"93d8c5de-a0fc-466b-bf5f-b88cd2c7ca09"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cgi_serviceplace","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cgi_postofficefi,cgi_postofficesv","subscriptionRequest/runas":1,"subscriptionRequest/name":"e49a8a74-df37-ec11-8c64-000d3a2c9423"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_rows_from_Service_that_have_lookup_to_changed_service_place":{"runAfter":{},"metadata":{"operationMetadataId":"98f79d64-40db-42a1-83a7-72a98cc2b24a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cgi_services","$filter":"_cgi_serviceplaceid_value eq @{triggerOutputs()?['body/cgi_serviceplaceid']} and statecode eq 0"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Service_that_has_Lookup_to_Service_Place":{"foreach":"@outputs('List_rows_from_Service_that_have_lookup_to_changed_service_place')?['body/value']","actions":{"Update_service_post_office_copy_values":{"runAfter":{},"metadata":{"operationMetadataId":"95c56328-93fe-4d3f-a59c-24a26aacbb59"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cgi_services","recordId":"@items('Apply_to_each_Service_that_has_Lookup_to_Service_Place')?['cgi_serviceid']","item/cgi_copy_serviceplacepostofficefi":"@triggerOutputs()?['body/cgi_postofficefi']","item/cgi_copy_serviceplacepostofficesv":"@triggerOutputs()?['body/cgi_postofficesv']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_from_Service_that_have_lookup_to_changed_service_place":["Succeeded"]},"metadata":{"operationMetadataId":"8b2fad31-5333-410b-b5f6-9759da6d1771"},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}