PataD365/Workflows/Whencontacthometownupdatedthenupdatecontactownerba-C806FD09-1DB2-EB11-8236-0022487EE1B3.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cgi_sharedcommondataserviceforapps_f6fe3"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"contact","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cgi_hometownid"},"authentication":"@parameters('$authentication')"}}},"actions":{"Fetch_ParentTerritoryId":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"territories","fetchXml":"<fetch distinct=\"false\" mapping=\"logical\" output-format=\"xml-platform\" version=\"1.0\">\n-<entity name=\"territory\">\n<attribute name=\"name\"/>\n<attribute name=\"managerid\"/>\n<attribute name=\"territoryid\"/>\n<attribute name=\"parentterritoryid\"/>\n<attribute name=\"cgi_teamid\"/>\n<order descending=\"false\" attribute=\"name\"/>\n-<filter type=\"and\">\n<condition attribute=\"territoryid\" value=\"@{triggerOutputs()?['body/_cgi_hometownid_value']}\" operator=\"eq\"/>\n</filter>\n</entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Fetch_ParentTerritoryId')?['body/value']","actions":{"Get_a_row_by_ID":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"territories","recordId":"@items('Apply_to_each')?['_parentterritoryid_value']"},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/contactid']","item/ownerid@odata.bind":"teams(@{outputs('Get_a_row_by_ID')?['body/_cgi_teamid_value']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Fetch_ParentTerritoryId":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}