PataD365/Workflows/Whenserviceupdatedthencopyserviceplaceandtypevalue-4F8DF283-4630-EC11-B6E6-000D3AAD6F9E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cgi_sharedcommondataserviceforapps_f6fe3"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_active_service_is_updated_or_becomes_active":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"cgi_service","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statecode,cgi_serviceplaceid,cgi_servicetypeid","subscriptionRequest/filterexpression":"statecode eq 0","subscriptionRequest/runas":1},"authentication":"@parameters('$authentication')"}}},"actions":{"If_service_place_is_not_null":{"actions":{"Get_service_place's_post_office_values":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cgi_serviceplaces","recordId":"@triggerOutputs()?['body/_cgi_serviceplaceid_value']","$select":"cgi_postofficefi,cgi_postofficesv"},"authentication":"@parameters('$authentication')"}},"Set_variable_ServicePlacePostOfficeFI":{"runAfter":{"Get_service_place's_post_office_values":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ServicePlacePostOfficeFI","value":"@outputs('Get_service_place''s_post_office_values')?['body/cgi_postofficefi']"}},"Set_variable_ServicePlacePostOfficeSV":{"runAfter":{"Set_variable_ServicePlacePostOfficeFI":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ServicePlacePostOfficeSV","value":"@outputs('Get_service_place''s_post_office_values')?['body/cgi_postofficesv']"}}},"runAfter":{"Initialize_variable_ServiceTypeNameSV":["Succeeded"]},"expression":{"not":{"equals":["@triggerOutputs()?['body/_cgi_serviceplaceid_value']","@null"]}},"type":"If"},"Initialize_variable_ServicePlacePostOfficeFI":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ServicePlacePostOfficeFI","type":"string"}]}},"Initialize_variable_ServicePlacePostOfficeSV":{"runAfter":{"Initialize_variable_ServicePlacePostOfficeFI":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ServicePlacePostOfficeSV","type":"string"}]}},"Initialize_variable_ServiceTypeNameFI":{"runAfter":{"Initialize_variable_ServicePlacePostOfficeSV":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ServiceTypeNameFI","type":"string"}]}},"Initialize_variable_ServiceTypeNameSV":{"runAfter":{"Initialize_variable_ServiceTypeNameFI":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ServiceTypeNameSV","type":"string"}]}},"If_service_type_is_not_null":{"actions":{"Get_service_type's_name_values":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cgi_servicetypes","recordId":"@triggerOutputs()?['body/_cgi_servicetypeid_value']","$select":"cgi_namefi,cgi_namesv"},"authentication":"@parameters('$authentication')"}},"Set_variable_ServiceTypeNameFI":{"runAfter":{"Get_service_type's_name_values":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ServiceTypeNameFI","value":"@outputs('Get_service_type''s_name_values')?['body/cgi_namefi']"}},"Set_variable_ServiceTypeNameSV":{"runAfter":{"Set_variable_ServiceTypeNameFI":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ServiceTypeNameSV","value":"@outputs('Get_service_type''s_name_values')?['body/cgi_namesv']"}}},"runAfter":{"Initialize_variable_ServiceTypeNameSV":["Succeeded"]},"expression":{"not":{"equals":["@triggerOutputs()?['body/_cgi_servicetypeid_value']","@null"]}},"type":"If"},"Update_service's_copy_values":{"runAfter":{"If_service_place_is_not_null":["Succeeded"],"If_service_type_is_not_null":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cgi_services","recordId":"@triggerOutputs()?['body/cgi_serviceid']","item/cgi_copy_serviceplacepostofficefi":"@variables('ServicePlacePostOfficeFI')","item/cgi_copy_serviceplacepostofficesv":"@variables('ServicePlacePostOfficeSV')","item/cgi_copy_servicetypenamefi":"@variables('ServiceTypeNameFI')","item/cgi_copy_servicetypenamesv":"@variables('ServiceTypeNameSV')"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}